* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

hr {
    height: 6px;
    background-color: #6D78A8;
    color: #6D78A8;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    background-color: #6D78A8;
    border-radius: 45px;
    border: 1px solid none;
    transition: 0.3s;

}

.cabecalho {
    list-style: none;
    display: flex;
    align-items: center;
    
}

.cabecalho li {
    
    margin-left: 5px;
}

.logo {
    padding: 23px 0;
    position: relative;
    right: 20px;
    right: 50px;
    
}

ol {
  position: relative;  
  left: 40px;
}

.fora {
    display: flex;
    justify-content: center;
}

.inside {
    width: 900px;
}

.semn {
    background-color: black;
    height: 1px;
}

.center {
    text-align: center;
    padding: 20px 0;
}